<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8" />
    <title>EdBox Premium | Web Administration</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="Xplorer Solutions" name="author" />
    <link rel="shortcut icon" href="~/Assets/img/EdBoxPremium/logo_only_128.png">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/style-responsive.css" rel="stylesheet" />
    <link href="/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <link href="/assets/css/essential.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />

    <script src="/assets/plugins/pace/pace.min.js"></script>
</head>
<body class="pace-top bg-black">
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <div id="page-container" class="fade">
        <div class="login login-with-news-feed" data-pageload-addclass="animated fadeIn">
            @RenderBody()
        </div>
    </div>

    <script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-mocks.js"></script>
    <script src="/Scripts/angular-sanitize.min.js"></script>

    <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="/assets/plugins/jquery-cookie/js.cookie.js"></script>

    <script src="/assets/js/login_v2_demo.js"></script>
    <script src="/assets/js/app.js"></script>

    <script src="/assets/plugins/bootstrap-sweetalert/sweetalert2.all.js"></script>
    <script src="/Scripts/global.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
            LoginV2.init();
        });
    </script>
</body>
</html>